@import "./base/variables";
@import "./base/mixins";
@import "./components/global";
@import "./components/header";
@import "./components/footer";

/* DASBOARD */

/* Container holding the image and the text */
.containerStyle {
  background-image: url(../assets/img/menu-background.jpg);
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* box modeling */
  padding: 50px 30px;

  h3 {
    text-align: center; 
    background-color: rgba(255,255,255, 0.5);
    padding-top: 20px;
    margin-top: 100px;
  }

  p {
    text-align: center; 
    background-color: rgba(255,255,255, 0.5);
    text-transform: capitalize;
    padding: 10px;
  }

  @include mediaQuery(tablet){
    h3 {
      margin-top: 50px;
    }
  }
}

.infoText {
  border-radius: 15px;
  background-color: $secondaryColour;
  padding: 15px;
  margin: 0px 20px;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* ACCOMMODATIONS */

.displayAccommodations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.accommodationImage {
  width: 500px;
  border: 10px solid transparent;
  border: 5px solid #AEC3B0;
  border-radius: 10px;
}

.accommodationsText {
  padding: 20px;
  align-items: center;
  max-width: 300px;
}

div.accommodationsText {
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 840px) {
  .displayAccommodations.rotateChildren{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px;
      align-items: center;
      
  }
}

/* ACTIVITIES */

.displayActivity {
  margin: 10px;
  border-radius: 10px;
  padding: 0px;
  width: 18rem;
  /*animation: textMove 0.4s infinite alternate;*/
}

.activityImage {
  height: 256px;
  min-width: 256px;
  /*animation: zoom-in-zoom-out 1s ease infinite;*/
}

/* LOCATION */

.locationText {
  max-width: 600px;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes textMove {
  from {
      top: 30px;
  }
  to {
      top: 5px;
  }
}

.wiggleButton {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
      transform: rotateZ(0);
  }
  15% {
      transform: rotateZ(-15deg);
  }
  20% {
      transform: rotateZ(10deg);
  }
  25% {
      transform: rotateZ(-10deg);
  }
  30% {
      transform: rotateZ(6deg);
  }
  35% {
      transform: rotateZ(-4deg);
  }
  40%, 100% {
      transform: rotateZ(0);
  }
}

/* CONTACT */

.boxBorder {
  box-shadow: 5px 5px 10px black;
}