* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0px 10px 0px 10px;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
}

li.table__header {
    display: inline-block;
    position: relative;
    padding: 10px;
    direction: none;
    text-decoration: none;
}

li.display__accommodations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

li.display__activities {
    display: inline-block;
    position: relative;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    flex-wrap: wrap;
    padding: 20px;
}

a {
    text-decoration: none;
    color: antiquewhite;
    font-size: larger;
}

footer {
    background-color: cadetblue;
    color: antiquewhite;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

footer .social {
    align-items: center;
    list-style: none;
}

.block__header {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    padding: 15px;
    background-color: cadetblue;
    position: sticky;
    top: 0px;
    grid-area: header;
}


.block__menuitem {
    display: inline;
    background-color: azure;
    padding: 10px 15px;
    font-weight: bold;
}

.gridContactContainer {
    display: grid;
	grid-template-areas: 
	"header header"
	"section1 section1"
    "section2 section2"
	"footer footer";
	grid-template-columns: 50% 50%;
	grid-template-rows: 100px 1fr auto;
	background-color: antiquewhite;
}

.gridSectionForm {
    grid-area: 2 / 1 / span 1 / span 2;
}

.flexForm {
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border: 1px solid black;
	width: 100%;
	align-items: stretch;
	flex-wrap: wrap;
	align-content: stretch;
    align-items: center;
}

.itemForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.block__footer {
    grid-area: footer;
}


#inicio {
    background-image: url(../assets/img/menu-background.jpg);
    background-repeat: no-repeat;
    height: 40vh;
    align-items: center;
}

#logo {
    background-image: url(../assets/img/logo.png);
    background-repeat: no-repeat;
    align-items: center;
}

.homeText{
    border-radius: 15px;
    background-color: blanchedalmond;
    padding: 10px;
    text-align: center;
    align-items: center;
    
}

.gridSectionInformation {
    grid-area: section2;
    background-color: white;
}

.infoText {
    border-radius: 15px;
    background-color: blanchedalmond;
    padding: 10px;
    margin: 40px 20px;
    align-items: center;
    align-content: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.accommodationsText {
    padding: 20px;
    align-items: center;
    max-width: 300px;
}

.activities {
    padding: 40px;
}


/*T4est*/

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}
  
/* Bottom left text */
.bottom-left {
position: absolute;
bottom: 8px;
left: 16px;
}

/* Top left text */
.top-left {
position: absolute;
top: 8px;
left: 16px;
}

/* Top right text */
.top-right {
position: absolute;
top: 8px;
right: 16px;
}

/* Bottom right text */
.bottom-right {
position: absolute;
bottom: 8px;
right: 16px;
}

/* Centered text */
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.backgroundImage {
    background-image: url(../assets/img/menu-background.jpg);
    background-size: cover;
    height: 500px;
}