<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Activities | Blest Camping</title>
    </head>

    <body>
        <!-- Start Header -->
        <header>
            <h3>Menu | Activities</h3>
            <!-- Start Nav -->
            <nav>
                <ul>
                    <li><a href="./accommodations.html">Dormis/Camping</a></li>
                    <li>Activities</li>
                    <li><a href="../index.html">Icon</a></li>
                    <li><a href="./location.html">Location</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </nav>
            <!-- End Nav -->
        </header>
        <!-- End Header-->

        <!-- Start Section Activities -->
        <section>
            <h3>Activities List</h3>
            <ul>
                <li>Activity 1</li>
                <li>Activity 2</li>
                <li>Activity 3</li>
            </ul>
        </section>
        <!-- End Section Activities -->
        

        <!-- Start Footer -->
        <footer>
            <p style="text-align: center;">Camping Name</p>
        </footer>
        <!-- End Footer -->
    </body>
</html>