<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact | Blest Camping</title>

        <!-- Linked Icon -->
        <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
        <!-- Linked CSS -->
        <link rel="stylesheet" href="../style/style.css">
    </head>
    
    <body>
        <!-- Start Header -->
        <header class="block__header">
            <!-- Start Nav -->
            <nav>
                <ul>
                    <li class="table__header"><a href="../views/accommodations.html">Accommodations</a></li>
                    <li class="table__header"><a href="../views/activities.html">Activities</a></li>
                </ul>
                <a href="../index.html"><img src="../assets/img/logo.png" alt="Blest Logo"></a>
                <ul>
                    <li class="table__header"><a href="../views/location.html">Location</a></li>
                    <li class="table__header"><a href="../views/contact.html">Contact</a></li>
                </ul>
            </nav>
            <!-- End Nav -->
        </header>
        <!-- End Header-->

        <!-- Start Client Form -->
        <form action="" method="" enctype="">
            <!-- text, password, email -->
            <label for="name">Full Name:</label>
            <input type="text" name="name" id="name"/>

            <label for="email">Email:</label>
            <input type="email" id="email"/>

            <label for="phone">Phone:</label>
            <input type="phone" id="phone"/>

            <p>Accomodation</p>
            <select name="" id="">
                <option value="Dormis" selected>Dormis</option>
                <option value="Camping">Camping</option>
            </select>

            <hr/>

            <!-- reset, button-->
            <button type="submit">Enviar</button>
        </form>
        <!-- End Client Form -->

        <!-- Start Footer -->
        <footer>
            <p style="text-align: center;">Camping Name</p>
        </footer>
        <!-- End Footer -->
    </body>
        
        
</html>