footer {
  background-color: $primaryColour;
  color: $secondaryColour;
  text-align: center;
  text-decoration: none;

  ul {
    margin: 0%;
  }
}

.columnStyle {
  padding: 10px;
  min-width: 200px;
}

.socialImage {
  max-width: 50px;
  max-height: 50px;
}